{% extends "base.html" %}
{% load static %}
{% block content%}
<h1 class="text-center">메인 페이지</h1>
<div class="container">
    <div class="row">
        {% for movie in movies %}
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">{{ movie.title }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ movie.content }}</p>
                        <a href="{% url "movies:detail" movie.pk %}" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock content %}